@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thực Đơn</title>
    <link rel="stylesheet" href="~/css/KhachHang.css">
    <link rel="icon" type="image/png" sizes="18x18" href="~/image/logo.png">
    <link rel="stylesheet" href="~/css/fontawesome-free-6.5.2-web/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>



</head>

<body>
    <header class="header">
        <div class="header-container">
            <h1 class="logo"><img src="~/image/logo.png" alt="" srcset="" style="width: 150px;"></h1>
            <nav class="nav">
                <a href="/khachhang/gioithieu">Giới thiệu</a>
                <a href="/KhachHang/TrangChu">Thực đơn</a>
                <a href="#">Liên hệ</a>
                @{
                    var userName = HttpContextAccessor.HttpContext?.Session.GetString("User");
                    if (userName != null)
                    {

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-toggle="dropdown" aria-expanded="false"
                                style="border: none ; background-color: #cc1308; color: #fff; padding-left: 20px ; padding-top : 0">
                                Xin chào , @userName !
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/KhachHang/TrangCaNhan"
                                        style="margin-left : 0 ; color : #000">Xem đơn hàng đã mua</a></li>
                                <form method="post" asp-page="/KhachHang/KHDangNhap" asp-page-handler="Logout">
                                    <button type="submit" class="dropdown-item">Đăng xuất</button>
                                </form>

                            </ul>
                        </div>
                    }
                    else
                    {
                        <a href="/KhachHang/KHDangNhap" style="text-decoration: none;color :#fff "> <strong>Đăng nhập
                            </strong></a>
                    }
                }
            </nav>
        </div>
    </header>

    <main class="main-content">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <p>© 2024 Đồ Án Tốt Nghiệp.</p>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $('.dropdown').click(function () {

            $('.dropdown-menu').toggleClass('show');

        });
    </script>
</body>

</html>