<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý</title>
    <link rel="stylesheet" type="text/css" href="~/css/StaffListDisplay.css" />
    <link rel="stylesheet" href="~/css/fontawesome-free-6.5.2-web/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    





</head>

<body>
    <header>
        <div class="header">
            <div class="logo-container">
                <a href="http://localhost:5295"><img src="" alt="Logo" class="logo"></a>

                <div class="list-branch">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle branch-btn" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="border: none; color: black;">
                            Chọn chi nhánh
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Chi nhánh TP Hồ Chí Minh</a>
                            <a class="dropdown-item" href="#">Chi nhánh Hà Nội</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="avatar-container">
                <img src="~/css/assets/icon/avatar-default.png" alt="Avatar" class="avatar">
                <div class="avatar-name">Lê Công Nam</div>
                <div class="avatar-option">
                    <img src="~/css/assets/icon/option.png" alt="">
                </div>
            </div>
        </div>
    </header>

    <div class="nam_container">
        <div class="sidebar">
            <ul>
                <li>
                    <i class="fa-solid fa-house" style="font-size: 27px ; color : #fff"></i>
                    <a href="http://localhost:5295/Views/NhanVien">Trang chủ</a>
                </li>
                <li>
                    <i class="fa-solid fa-chart-simple" style="font-size: 33px ; color : #fff"></i>
                    <a href="#">Thống kê</a>
                </li>
                <li>
                    <i class="fa-solid fa-users" style="font-size: 25px ; color : #fff"></i>
                    <a href="#">Nhân viên</a>
                </li>
                <li>
                    <i class="fa-solid fa-warehouse" style="font-size: 25px ; color : #fff"></i>
                    <a href="http://localhost:5295/Views/NhaKho">Nhà kho</a>
                </li>
                <li>
                    <i class="fa-solid fa-mug-hot" style="font-size: 30px ; color : #fff"></i>
                    <a href="">Món ăn</a>
                </li>
                <li>
                    <i class="fa-solid fa-gear" style="font-size: 30px ; color : #fff"></i>
                    <a href="#">Cài đặt</a>
                </li>
            </ul>
            <div class="end-sidebar" id="toggleSidebar">
                <i class="fa fa-chevron-left" style="padding-right: 10px;"></i> Thu gọn
            </div>
        </div>
        @RenderBody()

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>




    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>