@page
@model DoAnTotNghiep.Pages.VnpayReturnModel
@{
    ViewData["Title"] = "Kết quả giao dịch VNPay";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Success)
{
    <p> Giao dịch @ViewData["vnpBankTranNo"] thành công</p>
}
else
{
    <p>Giao dịch @ViewData["vnpBankTranNo"] không thành công!</p>
    
}
